<div class="container">
  <div class = "row">
    <div class="col-12 ps-5 py-4 my-8  "  >
        <h2 class="titulo">Vivero El Otoño</h2>
        <hr  />
        <img src="../assets/otonio.png" alt="Otonio"  style="width:100%" />
        <hr  />
    </div>
  </div>
  <div class = "row">
    <div class="col-12 col-md-8 ps-5">
      <app-listar-planta></app-listar-planta>
    </div>
  </div>
  <div class="row footer">
    <div class="col-12" >
      <p style="text-align: center;" >Contact us: +57 3102105253 - info@viveroelotonio.com - @viveroelotonio</p>
    </div>
  </div>

